.home{
    font-family:"PT Sans",sans-serif ;
}
.a1background{
    background-image: url("https://static1.shine.com/c/s1/images/candidate/new/home_base_new.jpg?6740b54474de");
    padding: 45px;
    padding-left:70px;
    justify-content: space-around;
    padding-bottom: 70px;
    background-size: cover;
    display: flex;
    text-align: left;
}
.searchButton{
    width:600px;
    height: 50px;
    border-radius: 4px;
    text-align: left;
    border: 0 none;
    background-color: #fff;
    
}
.ah1{
    font-size: 45px;
    margin-top: -15px;
    color:#ffffffff;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom:0px;
    
    
    
}
.ah2{
    font-size: 20px;
    color:#fff;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 0px;
}
.a2background{
    background-image: url("https://static1.shine.com/c/s1/images/candidate/new/home_reg.png?6740b54474de");
    flex-basis: 430px;
    height: 167px;
    background-size: cover;
    color: #fff;
    margin-right: -25px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
   
   
}
.regButton{
    font-size: 18px;
    width: 185px;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    background: #f7a400;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%) ;
    color: #fff;
    font-weight: 400;
    border: 0 none;
    text-align: center;
    margin-top: 55px;
    margin-left: 40px;
    margin-bottom:0;

}
.signinp{
    margin:auto;
    font-size: 17px;
    margin-left: 25%;
    color: #fff;
    margin-top: 0;

}
.signinp>p{
    margin-top: 0;
}