
 
.top
{
    height: 60px;
    text-align: left;
    padding-left: 10%;
}
 
.top1
{
    height: 90px;
    background-color: #f4f5f5;
    box-shadow: 0px 0px 2px 2px rgb(201, 201, 201);
}

.cont
{
    border: rgb(215, 215, 215) solid 1px; 
    height: 550px;
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    padding: 80px 30px 80px 30px;
    justify-content:space-between

}

.cont1login
{
    border: black solid 0px;
    width: 430px;
    height: 450px;
    margin-left: 10%;
    padding-left: 30px;
    text-align: left;
    box-shadow: 0px 0px 10px 5px rgb(213, 213, 213);
}

.cont1login > input
{
    width: 400px;
    border: rgb(55, 55, 55) solid 0px;
    border-bottom: rgb(125, 125, 125) solid 1px;
    
}

input:focus{
    outline: none;
}

.Register
{
    background-color: rgb(220, 220, 220);
    margin-left: -30px;
    padding-top: 10px;
    height: 35px;
    margin-top: 100px;
    border-bottom: rgb(218, 218, 218) solid 1px;
    text-align: center;
    color: rgb(70, 70, 70);
    font-weight: 500;
}
 

.login
{
    background-image: linear-gradient( 135deg, rgb(162, 150, 217) 0%, rgb(127, 174, 224) 100%);
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 21%);
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    height: 35px;
    width: 400px;
    color: white;
}

.social
{
    display: flex;
}

.social > div
{
    margin-right: 10px;
    width: 126px;
    padding-top: -5px;
    cursor: pointer;
    padding-bottom: 5px;
    height: 40px;
    box-shadow: rgb(201, 201, 201) 0px 0px 5px 5px;
    color: rgb(50, 49, 49);
    display: flex;
    
}

.social > div > img
{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5%;
}

.social > div > p
{
    margin-top: 10%;
    font-weight: 450;
    color: rgb(79, 78, 78);
}


.cont2
{
    width: 550px;
    height: 450px;
    margin-left: 35px;
    margin-right: 10%;
    margin-top: 3%;
    color: #505e6b;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto,Arial,Times,serif;
}

.cont2 > ul
{
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
}


.cont2 > ul > li
{
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    width: 97%;

}

.cont2 > ul > li > div
{
   margin: 10px;
}




.create > span
{
    font-size: 40px;
    padding: 0;
    margin: 0;
    text-align: left;
}

.jobs
{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}








.btm
{
    height: 150px;
    display: flex;
    
}

.btm_left
{
   
    width: 60%;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style: none;
    box-sizing: border-box;
    flex: 0 0 83%;
    -webkit-font-smoothing: antialiased;
    display: block;
}


.btm_left > ul > li
{
    display: inline-block;
    font-size: 12px;
    padding: 0;
    padding-right: 5px;
    margin: 0 2px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}

.btm_right
{
    border: black solid 0px;
    width: 50%;
    margin-top: 20px;
    margin-left: 2%;
    height: 80px;
    text-align: left;
}
.socialcontainer {
    background: #eee;
    padding: 25px 50px;
  }

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  .linkedinsocial {
    color: #0077b5;
  }

 .facebooksocial {
    color: #4968ad;
  }
  
  .twittersocial {
    color: #49a1eb;
  }
  
  


.footer
{
    height: 100px;
    text-align: left;
    color: #6d7883;
}

.footer > ul > li
{
    display: inline-block;
    font-size: 12px;
    padding: 0;
    padding-right: 5px;
    margin: 0 2px;
    font-weight: 400;
    border-right: #6d7883 solid 2px;
    -webkit-font-smoothing: antialiased;
}

li
{
    text-align: -webkit-match-parent;
    font-family: Roboto,Arial,Times,serif;
    box-sizing: border-box;
    color: #6d7883;
}

.footer > ul> li > a
{
    color: #6d7883;
}

.revamp_footer__contact-us {
    flex: 0 0 17%;
    padding-top: 10px;
}

div {
    display: block;
}

.btm_right
{
    font-size: 12px;
}

.follow > ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    list-style-type: none;
}
.recruiterloginimg{
    width: 100%;
    height: 90vh;
    background-image: url("https://cdn.dribbble.com/users/733072/screenshots/5548709/dribbble_hr.png");
    background-position: 100% 89vh;
    background-size: cover;
    margin-left: 2%;
    border: 1px solid white;

}
.contrecruiter
{
    border: rgb(215, 215, 215) solid 0px; 
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 80px 30px 80px 30px;
    justify-content:space-between;
    padding-right: 45px;

}
.cont1loginrecruiter > input
{
    width: 350px;
    border: rgb(55, 55, 55) solid 0px;
    border-bottom: rgb(125, 125, 125) solid 1px;
}
/* recruiter login page css */
.mainbox{
    display: flex;
}

.recloginptage{
    font-size: 10px;
    color: rgb(112, 82, 82);
}

.recloginspantage{
    color: blue;
}